* {
    box-sizing: border-box;
}

.img-container {
    float: left;
    width: 33.3%;
    padding: 5px;
}

.container {
    background-color: burlywood;
    display: inline-block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}